In [2]:
#using print() function
print("Begin 60DaysOfLearning")

Begin 60DaysOfLearning

In [4]:
#using input() function
name=input("Enter your name: ")
print("Hello",name,"!let's start")

Enter your name: Ngima
Hello Ngima !let's start

In [8]:
# taking multiple inputs using split() method.
x,y= input("Enter two values:").split()
print("I am learning:",x)
print("Today's my day:",y)

Enter two values:python 1
I am learning: python
Today's my day: 1

In [10]:
#conditional input from user
age_input=input("Enter your age:")
age=int(age_input)

#checking conditions
if age<0:
  print("Invalid age.")
elif age<18:
  print("Minor")
elif age>=18 and age<65:
  print("Adult")
else:
  print("Senior Citizen")

Enter your age:21
Adult

In [11]:
#typecasting
x=float(input("Enter a num in decimal:"))
print(x)

Enter a num in decimal:12.2
12.2

In [14]:
#learning data types
a= "Ngima"
b= 1
c = 21.2
d=("leap", "frog","Technology")
e=["60days","of","learning",2025,]
f={"leap":0, "frog":1,"Technology":2}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [17]:
# using format()
price=300.034
print("Amount: Rs.{:.2f}".format(price))

Amount: Rs.300.03

In [25]:
#using sep and end parameter
print ("Challenge", end='@')
print('learn','2025',sep='-')

Challenge@learn-2025

In [29]:
#using f-string
name="Book"
cost=180
print(f"This is a {name}. It costs Rs:{cost}")

This is a Book. It costs Rs:180

Note:

%d = integer

%f = float

%s= string

%x= hexadecimal

%o= octal

In [34]:
#using % operator
name = input("Enter your name:")
age= int(input("Enter your grade:"))
score= float(input("Enter your score:"))
print("It's %s.I study in grade: %d. I scored: %.2f" % (name,age,score))

Enter your name:roshni
Enter your grade:7
Enter your score:87.04
It's roshni.I study in grade: 7. I scored: 87.04

In [35]:
#python variables
x= 10
pet = 'puppy'
print(x,pet)

10 puppy

In [39]:
#dynamic typing, means same variable can hold different values
x= 10
x= "Hi"
print(x)

#assing same value
a=b=c=20
print(a,b,c)

#assigning different values
a,b,c = 10,20,"lft"
print(a,b,c)

Hi
20 20 20
10 20 lft

Scope of variable:

Two methods to define variable:
local and global

In [41]:
#local variable, means variable defined inside a function
def fun():
  x ="Local"
  print(x)
fun()

Local

In [46]:
#global variable, means variable defined outside a function
a= "Global"
def fun():
  print(a)
fun()
print(a)

Global
Global

In [48]:
# gobal variable modification
a= "Global"
def fun():
  global a
  a="modified"
  print(a)
fun()
print(a)

modified
modified

In [51]:
#deleting a variable
y=2
print(y)
# Removing the variable using del
del y
# Printing y after deletion will raise an error as NameError
print(y)

2

NameError: name 'y' is not defined

Python Operators:

Operators: Special symbls like: -,+,*

Operand: Value on which operator is applied.

In [54]:
# Arithmetic Operators

a= 10
b= 4
print("Subtraction:",a-b)
print("Addition:",a+b)
print("Multiplication:",a*b)
print("Exponentiation:",a**b)
print("Division:",a/b)
print("Floor Division:",a//b)
print("Modulus:",a%b)

Subtraction: 6
Addition: 14
Multiplication: 40
Exponentiation: 10000
Division: 2.5
Floor Division: 2
Modulus: 2

In [55]:
#Comparison Operators

a= 20
b= 30
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

False
True
False
True
True
False

In [56]:
#Logical Operators

x= True
y= False
print(x and y)
print( x or y)
print(not y)

False
True
True

In [57]:
#Bitwise Operators
a = 10
b= 5

print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a >> 2)
print(a << 2)

0
15
-11
15
2
40

In [58]:
#Assignment operators

a = 3
b = a
print(b)
b += a
print(b)
b -= a
print(b)
b *= a
print(b)
b <<= a
print(b)

3
6
3
9
72

In [60]:
# Identity operators

x = 10
y = 20
z = x
print(x is not y)
print(x is z)
print(z is y)

True
True
False

In [63]:
#Membership operators

x = 22
list = [10, 20, 30, 40, 50]
#used not in operator
if (x not in list):
    print("x is not in the list")
else:
    print("x is present in the list")

x is not in the list