In [1]:
#reduce () in python which is defined in functools module
from functools import reduce

def add(a,b):
  return a+b
a=[1,2,3,4,5]
reduce(add,a)

15

In [4]:
# using reduce() with lambda: anonymous function
from functools import reduce

x=[1,2,3,4,5]
reduce(lambda a,b:a+b,x)

15

In [11]:
#using reduce () with operator functions
import operator
from functools import reduce

a=[1,2,3,4,5]
print(reduce(operator.add,a))
print(reduce(operator.mul,a))
print(reduce(operator.add,['neema','lama']))

15
120
neemalama

In [15]:
# using accumulate()
from itertools import accumulate

def add(a,b):
  return a+b

a=[1,2,3,4,5]
res=accumulate(a,add)
print(list(res))

[1, 3, 6, 10, 15]

In [17]:
#using map() to apply a function to every item of an iterable
a=['1','2','3','4','5']
list(map(int,a))

[1, 2, 3, 4, 5]

syntax of map():

map(function,iterable)

In [20]:
# using map() with lambda
a=[2,4,6]
list(map(lambda x: x*2,a))

[4, 8, 12]

In [21]:
color = ['yellow','blue','green']
result= list(map(str.upper,color))
print(result)

['YELLOW', 'BLUE', 'GREEN']

In [23]:
# using filter() to test each element in the sequence is true or not
def even(n):
  return n % 2==0
a=[1,2,3,4,5,6,7]
list(filter(even,a))

[2, 4, 6]

syntax of filter():

filter(function, sequence)

In [25]:
#Python String
s='Neema'
print(s[0])
s1=s+s[0]
print(s1)

N
NeemaN

Note: Python has no character data type so single character is a string of length 1.

In [31]:
# multi-line string
s="""I am learning
Python"""
print(s)
print(s[1])
print(s[-1])

I am learning
Python

n

Note: Whitespace also counts as a character in string. And -1 access last character.

In [37]:
#string slicing

s='Neemalama'
# retrieves character from 1 to 3
print(s[1:4])
# retrieves character from beginning to index 2
print(s[:3])
# retrieves character from index 3 to end
print(s[3:])
#reverses a string
print(s[::-1])

eem
Nee
malama
amalameeN

Note: string immutability

Strings in pythons can't be changed after created but manipulation can be done like: concatenation, slicing or formatting.

In [42]:
#updating a string by creating new string
s='Challenge'
s= 'c'+ s[1:]
print(s)

challenge

In [45]:
#replacing a string
s=' learning Challenge'
s=s.replace('Challenge','2025')
print(s)
print(s.strip()) # removes spaces

 learning 2025
learning 2025

Python lists:

 List is a built-in dynamic sized array that can store all types of items including different data types, list itself, duplicates and are mutable.

In [69]:
# creating a list
mix=['apple',1,True,['hey','hi']]
print(mix)
print(mix[0])
print(mix[1])
print(mix[2])
print(mix[3])
print(mix[3][1])

['apple', 1, True, ['hey', 'hi']]
apple
1
True
['hey', 'hi']
hi

In [53]:
# list can also be created using list()constructor
#from a tuple
a= list(('neema','challenge',2025))
a

['neema', 'challenge', 2025]

In [54]:
# creating list with repeated elemnts
a=[3]*8
a

[3, 3, 3, 3, 3, 3, 3, 3]

Adding elements into list:

append() - adds an element at end of list

extend() - adds multiple elements at end

insert()- adds an element at specific position

In [60]:
lis=[]
lis.append(1)
lis.insert(0,3) # inserting 3 at index 0
lis.extend([2,3,'bye'])
lis

[3, 1, 2, 3, 'bye']

In [61]:
#updating elements into list
lis=[1,2,'hi']
lis[1]='hello'
lis

[1, 'hello', 'hi']

Removing elemnts from list:

remove() - removes first occurance of an element

pop()- removes element at specific index or last if not specified.

del statement: deletes element at a specific index.

In [66]:
l=[1,2,'neema','leapfrog',1]
l.remove(1)
l.pop(0)
del l[0]
l

['leapfrog', 1]

In [71]:
#iterating over list
l=[1,2,'neema','leapfrog',1]
for item in l:
  print(item)

1
2
neema
leapfrog
1

Tuple:

A tuple is similar to list but placed all items inside () and is imutable.

In [77]:
tup=('ram','shyam',10)
print(tup)

# using list
lis=['ram','hari',20]
print(tuple(lis))

#using built-in function
tu=tuple('Learn')
print(tu)
print(tu[1:3])

('ram', 'shyam', 10)
('ram', 'hari', 20)
('L', 'e', 'a', 'r', 'n')
('e', 'a')

In [78]:
#tuple concatenation
tup=('ram','shyam',10)
tup1=('ram','hari',20)
tup2=tup+tup1
tup2

('ram', 'shyam', 10, 'ram', 'hari', 20)

Python dictionary:

Data structure that stores value in key:value pairs where values can be any data type, duplicate but key can't be duplicate, and is inside {}.

In [81]:
dic={1:60,2:'Days',3:'Learning'}
dic

{1: 60, 2: 'Days', 3: 'Learning'}

Accessing dictionary items:

use key within square brackets or get() method.

In [85]:
d = { "name": "Ngima", 1: "Python", (1, 2): [1,2,4] }

# Access using key
print(d["name"])

# Access using get()
print(d.get("name"))
print(d.get((1,2)))

Ngima
Ngima
[1, 2, 4]

In [88]:
d = { "name": "Ngima", 1: "Python", (1, 2): [1,2,4] }

#adding a new key-value pair
d[3]="Lama"

# updating an exsting one
d["name"]='Neema'
d

{'name': 'Neema', 1: 'Python', (1, 2): [1, 2, 4], 3: 'Lama'}