# String manipulations in Pandas DataFrame

It is the process of changing, parsing, slicing, pasting or analyzing strings.

In [1]:
import pandas as pd
import numpy as np

data = {'Names': ['Roshan', 'Shima', 'Bina', 'Abhishek', 'Ajay', np.nan, 'Pratigya'],
        'City': ['Ktm', 'Lalitpur', 'Bhaktapur', 'Pokhara', 'Ktm', 'Bhaktapur', 'Pokhara']}

df = pd.DataFrame(data)
print(df)

      Names       City
0    Roshan        Ktm
1     Shima   Lalitpur
2      Bina  Bhaktapur
3  Abhishek    Pokhara
4      Ajay        Ktm
5       NaN  Bhaktapur
6  Pratigya    Pokhara

In [8]:
d_type=df.dtypes
print(d_type)

df=df.astype('string')# change column datatype
print(df.dtypes)

Names    object
City     object
dtype: object
Names    string[python]
City     string[python]
dtype: object

In [10]:
print(df['Names'].str.lower()) #converts all uppercase characters to lowercase
print(df['Names'].str.upper()) #converts all lowercase characters to uppercase

0      roshan
1       shima
2        bina
3    abhishek
4        ajay
5        <NA>
6    pratigya
Name: Names, dtype: string
0      ROSHAN
1       SHIMA
2        BINA
3    ABHISHEK
4        AJAY
5        <NA>
6    PRATIGYA
Name: Names, dtype: string

In [15]:
df['Split_Names']=df['Names'].str.split('a') #splits each string with the given pattern
print(df[['Names','Split_Names']])

      Names   Split_Names
0    Roshan     [Rosh, n]
1     Shima      [Shim, ]
2      Bina       [Bin, ]
3  Abhishek    [Abhishek]
4      Ajay       [Aj, y]
5      <NA>          <NA>
6  Pratigya  [Pr, tigy, ]

In [16]:
len=df['Names'].str.len() #compute the length of each string
len

0       6
1       5
2       4
3       8
4       4
5    <NA>
6       8
Name: Names, dtype: Int64

In [18]:
cat=df['Names'].str.cat(sep=',') #concatenates the data-frame index elements or each string
cat

'Roshan,Shima,Bina,Abhishek,Ajay,Pratigya'

In [19]:
print(df['City'].str.get_dummies())

   Bhaktapur  Ktm  Lalitpur  Pokhara
0          0    1         0        0
1          0    0         1        0
2          1    0         0        0
3          0    0         0        1
4          0    1         0        0
5          1    0         0        0
6          0    0         0        1