#Pandas Change Datatype

To view type using dtype then using the astype() method to convert/change it.

In [5]:
import pandas as pd

data={'Cat_Breed':['Tuxedo','Ginger','Tabby','Persian','Ragdoll'],
      'Age':[5,10,15,8,12],
      'Gender':['F','M','M','F','F']}
df=pd.DataFrame(data)

# view age type
typ= df['Age'].dtype
print(typ)

# convert 'Age' into float
df['Age']=df['Age'].astype(float)
print(df['Age'])

int64
0     5.0
1    10.0
2    15.0
3     8.0
4    12.0
Name: Age, dtype: float64

In [9]:
#converting to a DateTime Type
df['Date'] = ['2021-03-02', '2022-07-12', '2023-09-09', '2020-01-01', '2022-12-25']

df['Date'].dtype
print(df['Date'])

df['Date']=pd.to_datetime(df['Date'])
print(df.dtypes)

0    2021-03-02
1    2022-07-12
2    2023-09-09
3    2020-01-01
4    2022-12-25
Name: Date, dtype: object
Cat_Breed            object
Age                 float64
Gender               object
Date         datetime64[ns]
dtype: object

In [10]:
#changing multiple columns data type
df=df.astype({'Age':'int','Date':'object'})
print(df.dtypes)

Cat_Breed    object
Age           int64
Gender       object
Date         object
dtype: object