Python Sets:

An unordered collection of multiple items with different data types which are mutable, no duplicates,inside {} and unindexed.

In [2]:
set1 = set()
print(set1)

set2= set("60DaysOfLearning")
print(set2)

#creating set with use of a list
set3= ['Ngima','lama',1]
print(set(set3))

set()
{'e', 's', 'y', 'f', 'r', 'a', '0', 'L', '6', 'n', 'i', 'O', 'g', 'D'}
{1, 'lama', 'Ngima'}

Note: Duplicate items are removed by itself

Adding elements in set:

use add() method and update() method.

In [10]:
set3= {'Ngima','lama',1}
#add method()
set3.add(2)
#update method
set3.update(['Neema',4])
set3

{1, 2, 4, 'Neema', 'Ngima', 'lama'}

In [12]:
set1= {'Ngima','lama',1}
#acceessing elemnts using for loop
for i in set1:
  print(i, end=" ")
#checking
print('Ngima'in set1)

1 lama Ngima True

Removing elements from set in python:

* remove() method and discard method()-

removes specified element and when not found remove() raises error but discard()doesn't.

* pop() method-

removes a element from the set

* clear() method-

removes all and empties the set.

In [16]:
set1={1,2,3,4,5,6,2}
#using remove and discard methods
set1.remove(3)
set1.discard(1)
set1

{2, 4, 5, 6}

In [19]:
set1={1,2,3,4,5,6,2}
#using pop method
set1.pop()
set1

{2, 3, 4, 5, 6}

In [20]:
set1={1,2,3,4,5,6,2}
#using clear method
set1.clear()
set1

set()

Frozen Sets:

Frozensets is a built-in data type similar to a set but its immutable, means can't be modified.

In [24]:
#frozensets
set1={1,2,3,4,5,6,2}
fset=frozenset(set1)
fset

frozenset({1, 2, 3, 4, 5, 6})

Python Arrays

Array is a collection of homogeneous elements and can have duplicates.

array(data_type, value_list)

In [37]:
import array as arr
a=arr.array('i',[2,3,3,6])

for i in range(0,4):
  print(a[i],end=" ")

2 3 3 6

Adding elements to an Array:

insert()- adds element at givesn index.

append()- adds element at last

In [43]:
a=arr.array('i',[2,3,6])
#using insert and append methods
a.insert(0,1)
a.append(8)
a

array('i', [1, 2, 3, 6, 8])

In [58]:
#accessing array
a=arr.array('d',[2.0,3.2,6])
a[1]

3.2

Removing elements from the array

* remove()-

only removes first occurance of searched element.

* pop()-

removes element of specified index if not specified then removes last one.

In [61]:
a=arr.array('d',[2.0,3.2,6,6,8.5])
a.remove(6)
a.pop()
a.pop(1)
a

array('d', [2.0, 6.0])

Slicing of an array-

Slice operation is used to print a specific range of elements from the array.

In [65]:
a=arr.array('d',[2.0,3.2,6,6,8.5])
s_arr=a[:4]
s1_arr=a[:]
s2_arr=a[2:3]
s3_arr=a[::-1]
print(s_arr)
print(s1_arr)
print(s2_arr)
print(s3_arr)

array('d', [2.0, 3.2, 6.0, 6.0])
array('d', [2.0, 3.2, 6.0, 6.0, 8.5])
array('d', [6.0])
array('d', [8.5, 6.0, 6.0, 3.2, 2.0])

Searching elemnent-

use index() method

In [66]:
a=arr.array('d',[2.0,3.2,6,6,8.5])
print(a.index(2))

0

In [74]:
ar=arr.array('d',[2.0,3.2,6,6,8.5])
# updating item at specified index
ar[2]=3.1
print(ar)
#count num of occurances of an item
count=ar.count(3.1)
count

array('d', [2.0, 3.2, 3.1, 6.0, 8.5])

1

List comprehension:

Way to create lists using a concise syntax, allows to generate a new list by applying an expression to each item  in an existing iterable(i.e. list or range)

Syntax:
[expression for item in iterable if condition(opt)]

In [79]:
comp_list=[i for i in range(10)]
print(comp_list)
a=[i*2 for i in comp_list]
print(a)
a1=[i for i in a if i%3 == 0]
print(a1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 6, 12, 18]

In [80]:
#using nested loops
coord=[(x,y) for x in range(3) for y in range(2)]
coord

[(0, 0), (0, 1), (1, 0), (1, 1), (2, 0), (2, 1)]

In [82]:
mat = [[1,3], [4, 5, 6], [7, 8, 9,10]]
flat=[val for row in mat for val in row]
flat

[1, 3, 4, 5, 6, 7, 8, 9, 10]